@font-face {
  font-family: "Anton-Regular";
  src: url(fonts&images/Anton-Regular.ttf);
}

:root {
  font-family: "Anton-Regular", "Times New Roman", Times, serif;
  font-size: 25px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

button {
  font-family: inherit;
  border-radius: 15px;
  cursor: pointer;
}

.header {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(39, 106, 183, 0.704);
  padding: 0.5rem;
}

.header .username {
  font-size: 1.2rem;
  color: white;
}

.header button {
  font-size: 0.7rem;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.218);
  color: rgba(39, 106, 183, 0.704);
}

.main-container {
  font-size: 0.8rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 2rem;
}

.book {
  display: flex;
  flex-direction: column;
  border: 5px solid rgba(39, 106, 183, 0.704);
  height: fit-content;
  padding: 10px 1rem;
  border-radius: 10px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.218);
}

.book-details div {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.book > img {
  height: 200px;
  width: auto;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 10px;
}

.book-remove,
.book-change-status {
  border: none;
  padding: 10px;
  font-size: 0.9rem;
  background-color: rgba(207, 207, 207, 0.393);
}

.book-remove,
.close-modal {
  color: rgb(248, 29, 29);
}

.text {
  font-size: 0.8rem;
  color: rgba(39, 106, 183, 0.704);
}

dialog {
  border: 5px solid rgba(39, 106, 183, 0.704);
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 10px;
}

form label {
  color: rgba(39, 106, 183, 0.704);
}

form input,
form select {
  box-sizing: border-box;
  font-family: inherit;
  border: 2px solid rgba(0, 0, 0, 0.528);
  border-radius: 7px;
  font-size: 0.7rem;
  width: 50%;
}

form input:focus,
form select:focus {
  background-color: rgba(209, 209, 209, 0.234);
}

form select {
  background-color: white;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  height: 100%;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.form-submit-button,
.close-modal {
  font-size: 0.9rem;
  width: 50%;
  align-self: center;
  border: none;
}

dialog::backdrop {
  backdrop-filter: blur(4px);
  background-color: black;
  opacity: 0.6;
}

input:required {
  outline: none;
  border: 5px solid rgb(2, 49, 91);
}

input:invalid {
  outline: none;
  border: 5px solid red;
}

input:valid {
  outline: none;
  border: 5px solid green;
}
